body {
  padding: 0;
  margin: 0;
}
.info.legend {
  background: rgb(235, 234, 235);
  padding: 10px;
  line-height: 18px;
  color: #0e34a5e1;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-size: 14px;
}

.info.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}

#map {
  height: 600px;
  width: 100%;
},
body,
html {
  height: 100%;
}
